div#chat-room
  h1 chat room
  div.chat-box
  div.user-box
    input.user-name(type="text", placeholder="username")
    button.btn-sure Sure
  div.enter-box
    input.message(type="text")
    button.btn-enter(disabled=true) Enter