doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    ul 
      li 
        a(href='/chat') Chat Room
      li
        a(href='/users') User
      li 
        a(href="/graphql") GraphiQL 
      li 
        a(href="/graphql_demo") GraphQL Demo 
      li Swagger
    //- include chat.pug
    //- script(src="https://cdn.bootcdn.net/ajax/libs/socket.io/3.0.0-rc4/socket.io.js")
    //- script(src="/javascripts/chat.js")
