head 
  link(rel='stylesheet', href='/stylesheets/style.css')
body
  h1= title
  a.m-b-8.inline-block(href="/users") Back 
  form(name="userForm", action=`/api/users/${id ? id : ''}`, method='post', enctype="application/x-www-form-urlencoded", onsubmit="return validateForm()") 
    div.m-b-16
      label(for="name") Name
      br
      input#name(type="text", name="name")
    div.m-b-16
      label(for="age") Age
      br
      input#age(type="text", name="age")
    div.m-b-16
      label(for="sex") Sex
      br
      label(for="") Male
        input(type="radio", name="sex", value="m") 
      label(for="") Female
        input(type="radio", name="sex", value="f") 
    //- div.m-b-16
    //-   label(for="birthday") Birthday
    //-   br
    //-   input#birthday(type="datetime", name="birthday")
    div.m-b-16
      label(for="description") Description
      br
      textarea#description(name="description", cols="30", rows="10") 
    button(type="reset") Reset 
    button(type="submit") Submit
  script(src="/javascripts/userForm.js") 
