doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href="/") Home
    block content
    h1 Users
    //- a.m-b-8.inline-block(href="/users/add") Add 
    //- div
    table#user-table(style="text-align: left")
      thead
        tr 
          th name 
          th avatar
          th age 
          th sex 
          th brith
          th desc
          th operate
      tbody 
    script(src="/javascripts/user.js") 