doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href="/") Home
    block content
    h1 Users
    a.m-b-8.inline-block(href="/users/add") Add 
    table#user-table(style="text-align: left")
      thead
        tr 
          th ID
          th Name 
          th Avatar
          th Age 
          th Sex 
          th Brith
          th Desc
          th Operate
      tbody 
    script(src="/javascripts/user.js") 