html {
  font-size: 100px;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table {
  width: 100%;
}

.inline-block {
  display: inline-block;
}

.m-b-8 {
  margin-bottom: 0.08rem;
}

.m-b-16 {
  margin-bottom: 0.16rem;
}